@use '../../../theme' as theme;

.sidenav {
  display: flex;
  flex-direction: column;
  border-right: 4px solid black;
  background: theme.$color-light;
  width: 400px;
  height: 100%;

  &-note {
    display: flex;
    margin: 12px;
    padding: 16px;
    background: white;
    font-size: 24px;
    font-weight: bolder;
    cursor: pointer;

    &--active {
      background-color: theme.$color-primary;
      color: white;

      .plus {
        filter: invert(98%) sepia(2%) saturate(7%) hue-rotate(338deg) brightness(101%) contrast(103%);
      }
    }

    &__add {
      align-items: center;

      .plus {
        height: 24px;
        width: 24px;
        margin: 0 8px 0 0;
      }
    }
  }
}

